# SPDX-FileCopyrightText: 2025 Sebastian Andersson <sebastian@bittr.nu>
#
# SPDX-License-Identifier: GPL-3.0-or-later
version: '3.8'

services:
  spoolman2slicer:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/ju1ced/spoolman2slicer:latest
    container_name: spoolman2slicer
    restart: unless-stopped
    #---------Update the following depending on your needs---------
    environment:
      - SPOOLMAN_URL=http://192.168.5.34
      - SLICER=orcaslicer
    volumes:
      - spoolman2slicer:/configs
    entrypoint: 
      [ "sh", "-c", "umask 000 && python3 ./spoolman2slicer.py -U -d /configs -s ${SLICER} -u ${SPOOLMAN_URL}" ]

volumes:
  spoolman2slicer:
    external: true
