{% set loc = (spool.location | default("")) %}

{% if "ACE Pro 1" in loc %}
{% set prefix = "1_🖨️ " %}
{% elif "ACE Pro 2" in loc %}
{% set prefix = "2_🖨️ " %}
{% elif "Kast" in loc %}
{% set prefix = "3_📦 " %}
{% else %}
{% set prefix = "9_❓ " %}
{% endif %}

{% if sm2s.variant != "" %}
{{prefix}}{{material}} {{name}} - {{spool.id}}.{{sm2s.slicer_suffix}}
{% else %}
{{prefix}}{{material}} {{name}} - {{spool.id}}.{{sm2s.slicer_suffix}}
{% endif %}
